body {
  margin: 0;
  background: linear-gradient(to right, #f5f8fa, #36D8FF,#00ACEE, #00ACEE,#36D8FF, #f5f8fa);
  font-family: "Montserrat", sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

